.c-item{
    height: 80vh;
    min-height: 250px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.c-lable{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}