.container {
  display: flex;
  width: 100%;
  padding: 20px;
  height:auto;
  
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height:  100vh;
}
.content-wrapper {
  flex:  1;
  width:  100%;
  padding:  20px;
  overflow-y: auto;
}
.column1 {
  flex: 1;
  max-width: 30%;
  background-color: yellow;
  color: white;
  background-size: cover;
  padding: 10px;
  text-align: center;
  
}

.column2 {
  flex:2;
  width: 70%;
  height:100%;
  background-color: white;
  overflow-x: auto; /* Always show vertical scrollbar */
}

.table-container {
  width: 100%;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .column1,
  .column2 {
    width: 100%;
    max-width: none;
    padding: 10px;
  }
}
